* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.absolute-heading {
    font-size: 36px;
}

.absolute-paragraph {
    font-size: 18px;
}

.relative-heading {
    font-size: 5vw;
}

.relative-paragraph {
    font-size: 2.5vw;
}

.absolute-image {
    width: 350px;
}

.relative-image {
    width: 100%;
}

.outer-image {
    
}