* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
}

.hero {
    background-image: url("../images/alaska-13.jpg");
    height: 100vh;  
    background-size: cover;
    background-position: center center;
    display: flex; 
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px white;
}

.gallery-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 24px;
    border: 10px solid #333333;
    background-color: #73C6D9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #333333;
}